# Data (never share)
*.RData

# R session files
.Rhistory
.RData
.Ruserdata

# RStudio files
.Rproj.user/

# Mac system files
.DS_Store

# Output files (optional if you don't want reports tracked)
#output/

# Temporary files
*.log
*.tmp
